.index- {
  overflow-x: hidden;
}

.main-index-two {
  text-align: center;
}

.main-index-two__img {
  display: block;
  width: 90%;
  height: auto;
  margin: 50px auto 30px;
}

.main-index-two__avatar {
  max-width: 360px;
}

.main-index-two__headings {
  width: 95%;
  margin: 30px auto 50px;
}

@media screen and (min-width: 480px) {
  .main-index-two__img {
    width: 65%;
  }

  .main-index-two__headings {
    width: 70%;
  }
}

@media screen and (min-width: 990px) {
  .main-index-two-block {
    width: 70%;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .main-index-two__headings {
    width: 55%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .main-index-two__avatar {
    max-width: 68%;
  }
}