.main-index-two {
  text-align: center;
}

.main-index-two * {
  margin: 0 auto;
  width: 70%;
  display: block;
}

.main-index-two__img {
  margin-top: 60px;
  margin-bottom: 40px;
}

.main-index-two__title,
.main-index-two__text {
  margin-top: 40px;
  margin-bottom: 40px;
}