.divider {
  overflow: hidden;
  padding: 22px 0;
  border-top: 1px solid var(--custom-border-color);
  border-bottom: 1px solid var(--custom-border-color);
}

.divider-text {
  white-space: nowrap;
  margin: 0;
}

.divider-text * {
 margin: 0;
}