.main-index-two {
  text-align: center;
}

.main-index-two__img {
  display: block;
  width: 90%;
  margin: 60px auto 40px;
}

.main-index-two__title,
.main-index-two__text {
  width: 95%;
  margin: 40px auto 60px;
}

@media screen and (min-width: 480px) {
  .main-index-two__img {
    width: 70%;
  }

  .main-index-two__title,
  .main-index-two__text {
    width: 70%;
  }
}