.index- {
  display: flex;
  align-items: center;
  height: 100vh;
  border: 10px solid #0e1b4d;
  padding: 20px;
}

.index- .h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.index- h1 {
  font-size: 48px;
  margin-top: 20px;
}

.divider {
  width: 40%;
  height: 5px;
  background-color: #0e1b4d;
  border-radius: 100px;
}

.index- .divider {
  display: block;
}

.main-index-nav {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.main-index-nav a {
  text-decoration: none;
  font-style: normal;
  margin-bottom: 10px;
}

@media screen and (min-width: 750px) {
  .index- {
    border-width: 30px;
    padding: 60px;
  }

  .index- .h2 {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .index- h1 {
    font-size: 78px;
    margin-top: 40px;
  }

  .divider {
    height: 10px;
  }

  .main-index-nav {
    top: 80px;
    right: 80px;
  }

  .main-index-nav a {
    position: relative;
  }

  .main-index-nav a::before {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -2px;
    background-color: #0e1b4d;
    border-radius: 100px;
    transition: width .5s ease;
  }

  .main-index-nav a:hover:before {
    width: 100%;
    transition: width .5s ease;
  }
}

@media screen and (min-width: 1350px) {
  .index- {
    border-width: 50px;
  }

  .main-index {
    padding-left: 80px;
  }

  .index- .h2 {
    margin-top: 80px;
  }

  .main-index-nav {
    top: 150px;
    right: 150px;
  }
}